// Managed by Ansible.
Unattended-Upgrade::Origins-Pattern {
        "origin=${distro_id},codename=${distro_codename}";
        "origin=${distro_id},codename=${distro_codename}-updates";
        "origin=${distro_id},codename=${distro_codename}-security";
};

Unattended-Upgrade::Automatic-Reboot "{{ unattended_upgrades_automatic_reboot | bool | ternary('true', 'false') }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "{{ unattended_upgrades_automatic_reboot_with_users | bool | ternary('true', 'false') }}";
Unattended-Upgrade::Automatic-Reboot-Time "now";

